<h1>List of All Posts</h1>
 
<table>
  <tr>
    <th>Author Id</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @posts.each do |p| %>
    <tr>
      <td><%= p.author_id %></td>
      <td><%= p.content %></td>
      <td><%= link_to 'Show', post_path(p) %></td>
      <td><%= link_to 'Edit', edit_post_path(p) %></td>
      <td><%= link_to 'Destroy', post_path(p),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Post', new_post_path %>
